@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
/*This just stops me getting horizontal scrolling if anything overflows the width*/
body {
    overflow-x: hidden;
    font-family:'Roboto';
}
/*Just removing default browser padding/margin*/
html,
body {
    padding: 0;
    margin: 0;
    color: #ebebeb;
}
/*Flexbox gives us the flexiness we need. The top just stays put as there is no scrolling on the body due to the page never exceeding viewport height*/

.logo {
    color:rgb(87, 25, 122);
    font-size: 100px;
    font-family: 'Spectral';
    position: relative;
    margin-bottom: 100px;
}




header {
    display: flex;
    align-items: center;
    justify-content: center;
    background:#f36654ee;
    position: relative;
    z-index: 10;
    height: 200px;
}


header input {
    font-size: 50px;
    margin:20px 0;
    margin-top: 50px;
    position: absolute;

    
}
.news_item {
    padding:20px;
     background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
    padding: 0px;
    margin: 0px 0px 20px;
    color: black;
    
}

.news_item > .info {
    padding-top: 5px;
    text-align: center;
}
.news_item > .info > .title {
    font-size: 50px;
    font-weight: 700;
    margin: 0px;
}
.news_item:hover {

    background-color: rgb(188, 245, 226);
}

.news_item > img {
    width: 100%;
}

.news_list::-webkit-scrollbar {
    display: none;
}

/*This is our main wrapping element, it's made 100vh high to ensure it is always the correct size and then moved into place and padded with negative margin and padding*/
.Container {
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}
/*All the scrollable sections should overflow and be whatever height they need to be. As they are flex-items (due to being inside a flex container) they could be made to stretch full height at all times if needed.
WebKit inertia scrolling is being added here for any present/future devices that are able to make use of it.
*/

/*Entirely optional – just wanted to remove the scrollbar on WebKit browsers as I find them ugly*/

/*  Left and Right are set sizes while the Middle is set to flex one so it occupies all remaining space. This could be set as a width too if prefereable, perhaps using calc.*/




@media (min-width: 768px) {
   

    .news_item {
        position: relative;
        display: block;
        width: 100%;
        height: 120px;
        padding: 0px;
    }
    .news_item > img  {
        display: inline-block;
    }
    
    .news_item > img {
        width: 120px;
        float: left;
    }
    .news_item > .info {
        background-color: rgb(245, 245, 245);
        overflow: hidden;
    }
  
    .news_item > img {
        width: 120px;
        height: 120px;
        padding: 0px;
        margin: 0px;
    }
    .news_item > .info {
        position: relative;
        height: 120px;
        text-align: left;
        padding-right: 40px;
    }	
    .news_item > .info > .title {
        padding: 0px 10px;
    }

    .news_item > .info > ul {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    .news_item > .social {
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        width: 150px;
    }
    .news_item > .social > ul {
        border-left: 1px solid rgb(230, 230, 230);
    }
    .news_item > .social > ul > li {			
        display: block;
        padding: 0px;
    }
    .news_item > .social > ul > li > a {
        display: block;
        width: 50px;
        padding: 10px 0px 9px;
    }
    
}

    
.news_list {
    list-style: none;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
    background: gray;
 
    width:100%;
        
}

.news_item > .info > ul,
	.news_item > .social > ul {
		display: table;
		list-style: none;
		margin: 10px 0px 0px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}
	.news_item > .social > ul {
		margin: 0px;
	}
	.news_item > .info > ul > li,
	.news_item > .social > ul > li {
		display: table-cell;
		cursor: pointer;
		color: rgb(30, 30, 30);
		font-size: 20pt;
		font-weight: 300;
        padding: 3px 0px;
	}
    .news_item > .info > ul > li > a {
		display: block;
		width: 100%;
		color: rgb(30, 30, 30);
		text-decoration: none;
	} 
    .news_item > .social > ul > li {    
        padding: 0px;
    }
    .news_item > .social > ul > li > a {
        padding: 3px 0px;
	} 
	.news_item > .info > ul > li:hover,
	.news_item > .social > ul > li:hover {
		color: rgb(30, 30, 30);
		background-color: rgb(200, 200, 200);
	}
	.facebook a,
	.twitter a,
	.google-plus a {
		display: block;
		width: 100%;
		color: rgb(75, 110, 168) !important;
	}
	.twitter a {
		color: rgb(79, 213, 248) !important;
	}
	.google-plus a {
		color: rgb(221, 75, 57) !important;
	}
	.facebook:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(75, 110, 168) !important;
	}
	.twitter:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(79, 213, 248) !important;
	}
	.google-plus:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(221, 75, 57) !important;
	}
